<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dodavanje vozilo</title>
        <!--<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />-->
        
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
        
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
        
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    </head>
    </head>
    <body>
        
         <div th:include="navbar::navigation"></div>
         <br></br> <br></br>
         
<!--        <form th:action="@{/}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
        </form>	-->
    
        <div class="container offset-md-4">
            <div class="row ">
                <div class="col-md-6 ">
                                                              <!--  /api/addmarka    /vozilo/savemarka -->
                    <form autocomplete="off" action="#" th:action="@{/api/addmarka}"
                   
                          th:object="${marka}" method="post" class="form-horizontal"
                          role="form">
                        <h2>Add marka Form</h2>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('markaNaziv')}" th:errors="*{markaNaziv}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{markaNaziv}" placeholder="markaNaziv"
                                       class="form-control" /> 
                            </div>
                        </div>

                       

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Add Marka</button>
                            </div>
                        </div>

                        <span th:utext="${successMessage}"></span>


                    </form>
                </div>
            </div>
        </div>
         
         
         
          <div class="container offset-md-4">
            <div class="row">
                <div class="col-md-6">
                                                              <!--  /api/addmodel    /vozilo/savemodel -->
                    <form autocomplete="off" action="#" th:action="@{/api/addmodel}"
                   
                          th:object="${model}" method="post" class="form-horizontal"
                          role="form">
                        <h2>Add model Form</h2>
                        

                        <div class="form-group">
                            <div class="col-sm-9">
<!--                                <label	th:if="${#fields.hasErrors('marka')}" th:errors="*{marka}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{prezime}"
                                       placeholder="Last Name" class="form-control" /> -->
                                <select class="form-control" th:field="*{marka}"  id="dropOperator">
                                    <option value="0">Choose marku</option>
                                    <option  th:each="tempMarka : ${marke}" th:value="${tempMarka.markaId}" th:text="${tempMarka.markaNaziv}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('modelNaziv')}" th:errors="*{modelNaziv}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{modelNaziv}" placeholder="modelNaziv"
                                       class="form-control" /> 
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Add Model</button>
                            </div>
                        </div>

                        <span th:utext="${successMessage}"></span>


                    </form>
                </div>
            </div>
        </div>
         
         
          <div class="container offset-md-4">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                                                               <!--  /api/addmotor    /vozilo/savemotor -->
                    <form autocomplete="off" action="#" th:action="@{/api/addmotor}"
                   
                          th:object="${motor}" method="post" class="form-horizontal"
                          role="form">
                        <h2>Add Motor Form</h2>
                        <div class="form-group">
                            <div class="col-sm-9">
<!--                                <label th:if="${#fields.hasErrors('naziv')}" th:errors="*{naziv}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{naziv}" placeholder="naziv"
                                       class="form-control" /> -->
                                <select class="form-control" th:field="*{model}"  id="dropOperator">
                                    <option value="0">Choose model</option>
                                    <option  th:each="tempModel : ${modeli}" th:value="${tempModel.modelId}" th:text="${tempModel.modelNaziv}"></option>
                                </select>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label	th:if="${#fields.hasErrors('godiste')}" th:errors="*{godiste}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{godiste}"
                                       placeholder="godiste" class="form-control" /> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{opis}" placeholder="opis"
                                       class="form-control" /> <label
                                       th:if="${#fields.hasErrors('opis')}" th:errors="*{opis}"
                                       class="validation-message"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{cena}"
                                       placeholder="cena" class="form-control" /> <label
                                       th:if="${#fields.hasErrors('cena')}" th:errors="*{cena}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Add Motor</button>
                            </div>
                        </div>

                        <span th:utext="${successMessage}"></span>


                    </form>
                </div>
            </div>
        </div>
   
    </body>
</html>
